html,
body,

#map {
    float: left;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}
@media only screen and (max-width: 600px) {
  #map {
    height: 100vh;
  }
}
/*Info jalur */
#infojalur-container {
  position: absolute;
  bottom: 0; /* Mengatur elemen ke bagian bawah */
  right: 0; /* Mengatur elemen ke bagian kanan */
  z-index: 1000; /* Atur nilai z-indeks sesuai kebutuhan Anda */
}

#legendainfo {
  margin: 1em;
  margin-bottom: 1.7em;
  border: 1px solid #555;
  background-color: #fafafa;
  padding: 0.5em;
  border-radius: 3px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #555;
  width: 17em;
}

#legendainfo p {
  margin: 0;
  text-align: left;
}

#legendainfo h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  font-size: 100%;
}

/*Waktu tempuh */
#waktu-tempuh-container {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute; /* Menggunakan "fixed" agar elemen tetap di posisi yang diinginkan */
  bottom: 65px;
  right: 10px;
  z-index: 1000;
  display: none; /* Awalnya tersembunyi */
}

/* Aturan responsif */
@media (max-width: 768px) {
  #waktu-tempuh-container {
    bottom: 65px; /* Ubah posisi bawah sesuai dengan tampilan yang lebih sempit */
    right: 5px;   /* Ubah posisi kiri sesuai dengan tampilan yang lebih sempit */
  }
}


#waktu-tempuh-container.active {
  display: block; /* Muncul saat lapisan waktu tempuh dinyalakan */
}

#waktu-tempuh-container h2 {
  font-size: 14px;
  margin: 0 0 3px;
}

#legenda-container {
  max-height: 200px;
  overflow-y: auto;
}

/* Legenda Offroad */
#waktu-tempuh-container-layer2 {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute; /* Menggunakan "fixed" agar elemen tetap di posisi yang diinginkan */
  bottom: 65px;
  right: 10px;
  z-index: 1000;
  display: none; /* Awalnya tersembunyi */
}
/* Aturan responsif */
@media (max-width: 768px) {
  #waktu-tempuh-container-layer2 {
    bottom: 65px;
    right: 5px;   
  }
}

#waktu-tempuh-container-layer2.active {
  display: block; 
}

#waktu-tempuh-container-layer2 h2 {
  font-size: 14px;
  margin: 0 0 3px;
}

#legenda-container-layer2 {
  max-height: 200px;
  overflow-y: auto;
}

/* Legenda Kontur */
#legend-container-contour {
  background-color: #fff;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute; /* Menggunakan "fixed" agar elemen tetap di posisi yang diinginkan */
  bottom: 75px;
  left : 10px;
  z-index: 1000;
  display: none; /* Awalnya tersembunyi */
}

/* Aturan responsif */
@media (max-width: 768px) {
  #legend-container-contour {
    bottom: 65px;
    right: 5px;
  }
}

#legend-container-contour.active {
  display: block;
}

#legend-container-contour h2 {
  font-size: 14px;
  margin: 0 0 1px;
}

.legend-item {
  margin-bottom: 0px;
}

.legend-color {
  width: 20px;
  height: 3px;
  margin-right: 5px;
  display: inline-block;
}

.legend-label {
  display: inline-block;
  font-size: 12px;
  margin: 5px;
}


/* LEGENDA PETA */
.legenda-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legenda-line {
  width: 20px;
  height: 3px;
  margin-right: 5px;
}
.legenda-label {
  font-size: 10px;
}

/* Style the modal backdrop overlay */
.modal.fade.show {
  background: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.modal-content {
  background-color: #fff; /* Background color for the modal */
  border-radius: 10px; /* Rounded corners for the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  width: 80%; /* You can adjust the width percentage as needed */
  max-width: 400px; /* You can also set a maximum width if desired */
  margin: 0 auto; /* Center the modal horizontally */

}
.modal-list {
  list-style-type: none;
  padding-left: 0;
}

.modal-list li::before {
  content: counter(item) ".";
  counter-increment: item;
  margin-right: 5px;
}

/* Style the modal title */
.modal-title {
  font-size: 14px; /* Set the font size */
  color: #292727; /* Text color */
  text-align: justify;
  
}

/* Style the modal body text */
.modal-body {
  font-size: 12px; /* Set the font size */
  margin-bottom: 15px; /* Add some spacing at the bottom */
  margin-left: 10px;
  margin-right: 10px;
  
}

/* Style the close button */
.modal-button button {
  background-color: #ccc; /* Button background color */
  color: #333; /* Text color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add some border radius */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
}

/* Hover effect for the close button */
.modal-button button:hover {
  background-color: #555; /* Button background color on hover */
  color: #fff; /* Text color on hover */
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000000;
}

